<?xml version="1.0"?>
<!--
/*
* @author      MM Team
* @category    MM
* @package     MM_Postcodes
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MM_Postcodes::postcode" title="Postcodes" translate="title" module="MM_Postcodes" sortOrder="60" resource="MM_Postcodes::postcode"/>
        <add id="MM_Postcodes::localpostcode_manage" title="Local Postcodes" translate="title" module="MM_Postcodes" sortOrder="100" parent="MM_Postcodes::postcode" action="postcode/localpostcode/localpostcode" resource="MM_Postcodes::localpostcode_manage"/>
        <add id="MM_Postcodes::problempostcode_manage" title="Problem Postcodes" translate="title" module="MM_Postcodes" sortOrder="110" parent="MM_Postcodes::postcode" action="postcode/problempostcode/problempostcode" resource="MM_Postcodes::problempostcode_manage"/>
    </menu>
</config>
