<?xml version="1.0"?>
<!--
/*
* @author      MM Team
* @category    MM
* @package     MM_Postcode
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="postcode" frontName="postcode">
            <module name="MM_Postcodes"/>
        </route>
    </router>
</config>