<div data-bind="visible: canVisibleBlock">
   <strong>Optional Tip:</strong><h3>Free Local Delivery</h3>
    <input type="text" class="input-text tip" name="tip" id="tip">
    <button id="save" title="Add Tip" type="button" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" onclick="" data-form-role="save" data-ui-id="save-button" role="button" aria-disabled="false"><span class="ui-button-text">
    <span>Save</span>
</span></button>
</div>
<br/>